<ion-view id="about-page" view-title="AfterClass - About">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="dark" ui-sref="home">About AfterClass</span>
        </h1>
    </div>
    <ion-content class="has-header has-footer" has-bouncing="false">
        <div class="content-section">
            <h3>{{"PAGES.ABOUT.TITLE"|translate}}</h3>
            <p>{{"PAGES.ABOUT.CONTENT"|translate}}</p>

            <h3>{{"PAGES.TOS.TITLE"|translate}}</h3>
            <p>{{"PAGES.TOS.CONTENT"|translate}}</p>
        </div>
    </ion-content>
</ion-view>