<ion-view id="about-page" view-title="AfterClass - About">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="dark" ui-sref="home">About AfterClass</span>
        </h1>
    </div>
    <ion-content class="has-header has-footer" has-bouncing="false">
        <div class="content-section">
            <h3>About AfterClass</h3>
            <p>We are awesome</p>

            <h3>Terms of service</h3>
            <p>Awesome as it gets</p>
        </div>
    </ion-content>
</ion-view>