<ion-view id="about-page" view-title="AfterClass - About">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="back-btn dark" ui-sref="home">{{"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding-top" has-bouncing="false">
        <div class="content-section">
            <h3>{{"PAGES.ABOUT.TITLE"|translate}}</h3>
            <p>המורה הפרטי שלך לתקופת המבחנים, דרך הסמארטפון!</p>
            <p>נתקלת בבעיה בהתכוננות למבחן? שלח שאלה למורים הפרטיים שלנו וקבל תשובה במהירות.</p>
            <p>את המורים שלנו בחרנו בקפידה, כך שהשאלה שלך תגיע אל המורה שמכיר את הסילבוס והקורס שלך בצורה הטובה ביותר - ובמרבית הפעמים אף למד את הקורס והצטיין בו, מה שאומר שתוכל להיות בטוח שהתשובה שתקבל היא התשובה הנכונה שתכין אותך למבחן בהצלחה.</p>
            <p>הצוות שלנו זמין תמיד לכל שאלה או בעיה, במייל או דרך צור הקשר באפליקציה.</p>
            <p>בהצלחה בתקופת הבחינות לכל הסטודנטים בארץ!</p>

            <h3>{{"PAGES.TOS.TITLE"|translate}}</h3>

            <p>אנו מודים לך על שבחרת להיכנס לאפליקציה של חברת מ.פ.מ.ר צרכנות לסטודנטים בע"מ ח.פ. 51-508896-1 (להלן - "Istudent") אשר הינה המפעילה ובעלת הזכויות במועדון הצרכנות לסטודנטים (להלן - "המועדון"). הפעילות באפליקציה מיועדת אך ורק לסטודנטים המחזיקים בתעודת חבר מועדון דיגיטאלית אשר אומתו ע"י מערכות הסינון של המועדון  כמפורט בתקנון זה (להלן - "חברי המועדון"). השימוש באפליקציה מוצע בכפוף לתקנון להלן. שימוש באפליקציה, לרבות קבלת הנחות ו/או מימוש מבצעים לרכישת מוצרים ו/או שירותים באמצעות האפליקציה מהווים הסכמתך לתנאים אלו.</p>

            <p>הינך מתבקש לקרוא תקנון זה בשקידה, שכן זכויותיך וחובותיך נקבעות על פיו. בגלישתך באפליקציה ובקבלת הנחות ו/או מימוש מבצעים לרכישת מוצרים ו/או שירותים באפליקציה, וכן ברכישותיך כפועל יוצא משימושך באפליקציה, הינך נותן את הסכמתך ומקבל ללא כל תנאי את האמור בתקנון זה; כמו כן, הינך נותן את הסכמתך לכך ש- Istudentלא תהא אחראיות לכל נזק, עלות, הוצאה, אי נוחות מכל מין וסוג שהוא בכל עניין ומכל סיבה או עילה שהיא (חוזית, נזיקית, או אחרת) לרבות שימושך באפליקציה ו/או בכל פעילות אחרת המוצעת ע"י Istudent. הסכמתך הבלתי חוזרת לשלילת אחריות Istudent, הינה תנאי הכרחי ומקדמי להרשאה המוקנית לך להשתמש באפליקציה.</p>

            <p>יובהר בזאת כי הסכמותיך לקבל את תנאי תקנון זה לרבות הסכמתך להצטרף כחבר מועדון וכן, החובות החלות עליך מכח תקנון זה, תקפות בזאת הן לשימושך באתר האינטרנט והן באפליקציה לטלפון החכם המופעלת ע"י Istudent בשינויים המחוייבים.</p>

            <h4>מבוא והגדרות</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	"אתר האינטרנט" - אתר אינטרנט המופעל ע"י Istudent שכתובתו www.istudent.co.il .</li>
            <li>	"החברות" - החברות ו/או בתי העסק המפורסמים באתר.</li>
            <li>	התקנון שלהלן מנוסח בלשון זכר מטעמי נוחות בלבד, התקנון פונה לנשים ולגברים כאחד.</li>
            <li>	הכותרות ושמן הן למען הנוחות בלבד ולא תשמשנה לפירוש ההסכם באיזה אופן שהוא עיקרי.</li>
            <li>	כל הוראה ו/או הנחיה אשר יתפרסמו באתר מעת לעת, תהינה מחייבות בנוסף לתקנון זה.</li>
            <li>	Istudent שומרת לעצמה הזכות לערוך שינויים בתקנון זה. בהסכמה לתקנון זה, לוקח על עצמו חבר המועדון את האחריות המלאה להוראות תקנון זה ולהוראות אשר עשויות להתפרסם באתר מעת לעת.</li>
            <li>	האפליקציה נועדה לשימוש אישי בלבד ולא לשימוש מסחרי.</li>
            <li>	הפרסום באפליקציה אינו מהווה המלצה לרכישת המוצרים ו/או קבלת השירותים המוצעים בו.</li>
            </ul>
            <h4>הרשאה לשימוש ושימוש באפליקציה</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	השימוש וקבלת ההטבות דרך האפליקציה מוגבלים אך ורק לחברי המועדון.</li>
            <li>	בכדי להתקבל כחבר מועדון, יהא על הגולש באפליקציה להזין את פרטיו האישיים הבאים:  שם פרטי, שם משפחה, כתובת דואר-אלקטרוני, המוסד האקדמי בו הוא לומד, פרטים אודות התואר הנלמד, תמונה אישית, צילום תעודת סטודנט ו/או דואר אלקטרוני השייך למוסד האקדמי בו הוא לומד ו/או התחברות חד פעמית לאתר האינטרנט של המוסד האקדמי בו המשתמש לומד. כמו כן, ככל וחבר המועדון יחפוץ לרכוש מוצרים במסגרת "המסחר המקוון" המתבצע באפליקציה, ייתכן ולצורך רכישה כאמור יצטרך חבר המועדון להזין את פרטי כרטיס האשראי שברשותו.</li>
            <li>.	לתשומת לבך כי הגשת פרטים אישיים כוזבים הינה עבירה פלילית כאמור בחוק העונשין,התשל"ז 1977-וזו אסורה בהחלט.</li>
            <li>	הנני מאשר כי כל הפרטים שמסרתי לעיל הינם נכונים ומלאים והנני רשאי למסרם.</li>
            <li>	ידוע לי שלא חלה עליי חובה חוקית למסור את פרטיי וכי פרטים אלו יוחזקו במאגרי המידע של Istudent ויעשה בהם שימוש כמפורט בסעיפים 36-39 לתקנון זה.</li>
            <li>	Istudent שומרת על זכותה לבטל, על פי שיקול דעתה הבלעדי, את חברותו של חבר מועדון באפליקציה. מבלי לגרוע מכלליות האמור בסעיף זה, Istudent שומרת על זכותה לבטל, על פי שיקול דעתה הבלעדי, את חברותו של חבר מועדון שחברותו נתגלתה ו/או שנחשדה כניסיון להונות בכל דרך, וכן לנקוט בכל האמצעים המשפטיים ו/או האחרים העומדים לרשותה כנגד חבר מועדון ו/או אדם אשר ניסה להתקבל כחבר מועדון, לרבות הגשת תביעות בגין נזקים שעלולים להיגרם לה.</li>
            <li>	חבר המועדון אינו רשאי להשתמש באפליקציה ו/או בתכנים באפליקציה באופן העלול להזיק, לשתק או לפגוע באפליקציה, ברשתות תקשורת ובציוד תקשורת כלשהו. כמו כן, חבר המועדון אינו רשאי להשיג או לנסות להשיג תכנים או מידע אשר לא הועמדו לרשותו באופן מכוון על ידי Istudent.</li>
            <li>	חבר המועדון אינו רשאי להעתיק בדרך כלשהי רשימות של חברי המועדון ו/או מידע אחר לגבי חברי המועדון ו/או מידע המפורסם ע"י החברות באפליקציה, למעט לצורך מימוש ההנחה ו/או ההטבה המפורסמת לשימושו האישי. יובהר כי, חבר המועדון לא ישתמש במידע זה כאמור ולא יעבירו בין בתמורה ובין שלא בתמורה לאדם אחר.</li>
            <li>	מבלי לגרוע מן האמור לעיל, Istudent רשאית למנוע מחבר מועדון ביצוע פעולה באפליקציה, באמצעות חסימת חבר המועדון, בכל אחד מן המקרים הבאים:<br>
            1. 	חבר המועדון עבר על הוראות הדין בישראל;<br>
            2. 	חבר המועדון הפר תנאי מתנאי תקנון זה;<br>
            3. 	חבר המועדון מסר פרטים שגויים בהרשמתו לאפליקציה.</li>
            <li>	השימוש באפליקציה הינו באחריות המשתמש (הגולש) בו בלבד.</li>
            <li>Istudent לא תהא אחראית ולא תחויב בגין כל נזק ו/או הוצאה ו/או הפסד ו/או פגיעה ישירים ו/או עקיפים לרבות בגין עגמת נפש, שייגרמו למשתמשים באפליקציה ו/או לכל צד ג' שהוא עקב ו/או כתוצאה משימוש באפליקציה, כניסה לאפליקציה ו/או אי היכולת להיכנס לאפליקציה ו/או כתוצאה מחשיפה לפגיעה בטלפון החכם במהלך השימוש באפליקציה (לרבות וירוסים) ו/או כתוצאה מהסתמכות על המידע הכלול באפליקציה.</li>
            <li>	האפליקציה מציעה קישורים והפניות לאתרים אחרים. Istudent אינה ולא תהא אחראית לתכנים שבאתרים אלו ולתנאי השימוש בהם.</li>
            </ul>
            <h4>אחריות המוצרים ו/או השירותים המפורסמים באפליקציה</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	Istudent אינה מוכרת ו/או מספקת את המוצרים ו/או השירותים המוצעים באפליקציה. יובהר כי, מכירת ו/או אספקת המוצרים ו/או השירותים המוצעים באפליקציה, על כל המשתמע מכך, תתבצע על-ידי החברות ולא ע"י Istudent.</li>
            <li>	האחריות הבלעדית למידע בדבר המוצרים ו/או למוצרים עצמם, לפרסומם, למחירם, להתקשרות בין מקבל ההטבה לבין החברות, לאספקתם, לפעולות הכספיות הנוגעות לרכישתם, לאיכותם, לאחריות הניתנת להם, ולכל דבר אחר מכל מין וסוג שהוא הנוגע במישרין ובעקיפין למוצרים ו/או השירותים הנמכרים מוטלת על החברות באופן בלעדי.</li>
            <li>	כל הנתונים והמידע הנזכרים לגבי המוצרים ו/או השירותים המוצגים באפליקציה, לרבות תיאורם, שמם, המפרט הטכני שלהם, תכונותיהם, מחירם וכיוצ"ב, מסופקים ומאושרים על ידי החברות ואלו באחריותם הבלעדית.</li>
            <li> 	תמונות המוצרים ו/או השירותים המפורסמים באפליקציה נועדו להמחשה בלבד כך שייתכנו הבדלים בין התמונה לבין המוצר הנמכר בפועל.</li>
            </ul>
            <h4>הצגת ההנחות ו/או המבצעים עבור המוצרים ו/או השירותים המפורסמים באפליקציה</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	Istudent תציג באפליקציה מגוון הנחות ו/או מבצעים למוצרים ו/או שירותים במגוון תחומים.</li>
            <li>	Istudent תהא רשאית להסיר את המבצעים ו/או השירותים המוצגים באפליקציה בכל עת, ללא הודעה מוקדמת וזאת ע"פ שיקול דעתה הבלעדי. בהסכמתך לתקנון זה, הינך מוותר בזאת על כל טענה כנגד Istudent בהקשר להנחה שבוטלה ו/או אינה ניתנת למימוש מכל סיבה שהיא.</li>
            <li>	מימוש ההטבה יבוצע ישירות מול החברות.</li>
            <li>	באפליקציה מצויות פרסומות וקישורים המאפשרים גישה למידע ותכנים המתפרסמים באתרים אחרים. יובהר כי מידע ותכנים אלו אינם מתפרסמים ע"י Istudent והיא אינה אחראית לתכנים שבאתרים ו/או קישורים אלו לרבות תנאי השימוש בהם. עוד יודגש, כי Istudent אינה נושאת ולא תישא בכל אחריות לכל נזק ו/או פגיעה ישירים ו/או עקיפים, לרבות בגין עגמת נפש, שייגרמו לחברי המועדון מתוכנם של אתרים ו/או קישורים אלה ו/או עקב מוצרים ו/או שירותים הנמכרים ו/או מוצעים ו/או מוצגים באתרים ו/או קישורים אלה.</li>
            <li>	Istudent מפרסמת באפליקציה את המבצעים ו/או ההנחות כפי שנמסרו לה ואושרו ע"י החברות. אשר על כן, האחריות הבלעדית לנכונות ו/או לאופן הצגת מצגים שהוצגו ביחס למבצעים ו/או להנחות המפורסמות באפליקציה תחול על החברות בלבד ולחבר המועדון לא תהיה כל טענה נגד Istudent בקשר עם נכונות המצגים ו/או הפרסומות באפליקציה.</li>
            <li>	בהסכמה לתנאי שימוש אלו מצהיר חבר המועדון, כי הוא מודע לכך שכל תקלה ו/או בעיה במימוש ההנחות ו/או המבצעים המוצעים באפליקציה לא תקנה לו אפשרות לבוא בכל טענה ו/או תביעה ו/או דרישה כנגד Istudent.</li>
            </ul>
            <h4>קניין רוחני</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	זכויות היוצרים וזכויות הקניין הרוחני באפליקציה, בשמה, בכל חלק שלה ובכל אחת מהשירותים המוצעים בה שייכים בלעדית ל-Istudent.</li>
            <li>	אין להעתיק לשנות, לפרסם, לשדר, להעביר, למכור, להפיץ, לשכפל או לעשות שימוש מסחרי באפליקציה למעט אם התקבלה לכך הסכמה מפורשת של Istudent מראש ובכתב.</li>
            <li>	חל איסור מוחלט על יצירת קישוריות (לינקים) לאפליקציה, אלא אם נתקבלה הסכמה מפורשת של Istudent מראש ובכתב.</li>
            </ul>
            <h4>מדיניות הפרטיות</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	הינך תתבקש למסור פרטים מזהים כתנאי לשימוש באפליקציה. הרינו ליידעך כי אינך חייב על-פי חוק למסור את המידע. עם זאת, אי מסירת המידע הנדרש לצורך זיהויך כסטודנט מן המניין לא יאפשר לך להתקבל כחבר מועדון וכתוצאה מכך לא תוכל להשתתף בפעילות באפליקציה ו/או ליהנות מהמבצעים ו/או השירותים המפורסמים באפליקציה בכפוף לתנאי תקנון זה.</li>
            <li>	במסירת המידע הנדרש ממך לצורך אימות, זיהוי והשתתפות בפעילות האפליקציה, כמוה הסכמה לאיסוף, שימוש, גילוי וחשיפת המידע המועבר לידי Istudent בהתאם לתנאי תקנון זה.</li>
            <li>	בטרם מסירת הפרטים הנדרשים לצורך אימות, זיהוי והשתתפות באפליקציה כאמור, אנא וודא כי תנאי מדיניות הפרטיות של האתר ברורים לך ואין לך כל התנגדות למסור פרטים אלו כאמור.</li>
            <li>	בעת שימושך באפליקציה לרבות מימוש המבצעים המוצעים לך באפליקציה, הנך מקנה ל- Istudentרשות לצבור מידע על נהגיך, הרגלי הגלישה שלך, מוצרים ושירותים אשר רכשת, מידע ופרסומות אשר ראית באפליקציה, הטלפון החכם שבאמצעותו ניגשת לאתרים, מיקומך, פרטים אודותיך אשר השארת בעת מימוש ההטבות ו/או השירותים המפורסמים באפליקציה וכד'.</li>
            <li>	השימוש במידע שנאסף יישמר ב-"מאגר הצרכנות לסטודנטים" המנוהל ע"י Istudent וישמש לצורך: אישור שימושך באפליקציה, קבלתך כחבר מועדון ואפשרותך ליהנות מהמבצעים ו/או ההנחות המוצעים באפליקציה, כדי לפנות אליך בדואר האלקטרוני ו/או במסרונים ו/או בהודעות פוש, לצורך יצירת קשר עמך, כדי לעניין אותך בהטבות ייעודיות ו/או מסלולים ייעודיים שמוצעים על ידי חברות והבעת התעניינות בהם בעבר.  כדי לשפר ולהתאים את פעילות האתר לדרישותיך וציפיותיך, כדי להתאים את הפרסומות שיוצגו לעיניך בעת הביקור באתר לתחומי ההתעניינות שלך, לצורך ניתוח ומסירת מידע סטטיסטי לצדדים שלישיים לרבות מפרסמים, כדי להציג את תמונתך לשאר חברי המועדון, כדי לפרסם לחברי המועדון האחרים את רכישותיך ולכל מטרה אחרת המפורטת בתקנון זה.</li>

            <li>	Istudent מתחייבת שלא להעביר את פרטיך לצדדים שלישיים למעט במקרים הבאים: הבעת רצונך להצטרף כחבר מועדון בחברה באחת החברות מסוימת המפורסמות ו/או פורסמה באפליקציה, הבעת רצונך לקבל הצעת מכר כלשהי מחברה מסוימת המפורסמת ו/או פורסמה באפליקציה, במקרה שתפר את תנאי השימוש באפליקציה או תנאי שימוש באתרים אחרים, אם תבצע באמצעות האפליקציה או בקשר אליה פעולות שהינן לכאורה מנוגדות לדין או ניסיון לבצע פעולות כאלה, אם יתקבל צו שיפוטי המורה למסור את פרטיך או המידע אודותיך לצד שלישי, אם פעילות האפליקציה תתבצע במסגרת תאגיד אחר או תמוזג בפעילותו של צד שלישי.</li>

            <li>Istudent רשאית לשלוח דואר אלקטרוני למשתמשים באפליקציה. הדואר האלקטרוני עשוי לכלול עדכונים לגבי האפליקציה, המידע השיווקי ו/או המידע הפרסומי אשר מפורסמים באפליקציה. מידע זה יישלח לתיבת הדואר האלקטרוני המשמשת אותך אותה תזין בעת ההרשמה לאפליקציה. באם אין ברצונך להמשיך ולקבל מידע מסחרי כאמור, תוכל בכל עת, לבטל את הסכמתך לדיוור כאמור.</li>
            <li>	בקבלת תקנון זה הינך מסכים ומאשר, כי הפרטים שמסרת ל-Istudent הינם נכונים והינך מודע לכך שפרטים אלו ישמשו לצורך משלוח דברי פרסומת בדואר אלקטרוני ו/או באמצעות SMS. כמו כן, הנך מאשר, כי Istudent הודיעה לך כי הנך יכול לסרב לקבל דברי פרסומת.</li>
            <li>	Istudent מפעילה באתר מערכות אבטחת מידע אשר עשויה להפחית את הסיכונים לחדירה בלתי-מורשית למחשביIstudent .</li>
            </ul>
            <h4>דין ומקום שיפוט</h4>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>	על השימוש באתר יחולו דיני מדינת ישראל בלבד.</li>
            <li>	לבית המשפט בעיר תל-אביב יפו תהא סמכות השיפוט הבלעדית לדון בכל מחלוקת הנובעת מתקנון זה ו/או מתנאי הפרטיות המופיעים בו לרבות כל מחלוקת אשר עשויה להתגלע בעקבות כך.</li>
            </ul>

<br>
            בברכה,<br>
            Istudent<br><br>






            תקנון זה נערך ע"י ברק ושות' – עורכי דין ©


        </div>
    </ion-content>
</ion-view>