<ion-view id="about-page" view-title="AfterClass - About">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="back-btn dark" ui-sref="home">{{"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding-top" has-bouncing="false">
        <div class="content-section" ng-if="$root.uiLang==='he'">
            <h4 class="text-center m-20">{{"PAGES.ABOUT.TITLE"|translate}}</h4>
            <p>המורה הפרטי שלך לשיעורי הבית והמבחנים, דרך הסמארטפון!</p>
            <p>נתקלת בבעיה בחומר הלימוד, בשיעורי הבית או בלמידה למבחן? שלח שאלה לשירות שלנו דרך האפליקציה וקבל תשובה אמינה ממורה פרטי מקצועי במהירות.</p>
            <p>את המורים שלנו בחרנו בקפידה, כך שהשאלה שלך תגיע אל המורה שמלמד ומכיר את המקצוע ברמה הגבוהה ביותר, כך שתוכל להיות בטוח באמינות התשובה.</p>
            <p>צוות השירות של אפטרקלאס תמיד זמין לכל שאלה או בעיה - פשוט בחר בתפריט האפליקציה בצור קשר.</p>
            <p>בהצלחה לכל התלמידים ברחבי הארץ!</p>

            <h4 class="m-20 text-center">{{"PAGES.TOS.TITLE"|translate}}</h4>
            <p>השימוש בשירות אפטרקלאס הוא ביוזמת המשתמש ובאחריותו שלו בלבד.</p>
            <ul style="list-style: outside;padding: 0 20px 0 0;">
            <li>אפטרקלאס אינה אחראית על כל נזק ישיר או עקיף שעלול להגרם כתוצאה משימוש בשירות או באפליקציה.</li>
            <li>אין רשות לאף גורם או פרט לעשות שימוש בקניין הרוחני, בגרפיקות או בכל רכוש אחר ששייך לאפטרקלאס.</li>
            <li>אפטרקלאס הוא שירות המקשר בין מורים פרטיים לסטודנטים, ועל כן אין לאפטרקלאס שליטה ו/או אחריות על נכונות או טיב התשובות/הסברים אותם נותנים המורים לסטודנט.</li>
            <li>אפטרקלאס הינו שירות בתקופת הרצה ('בטא') ועל כן אפשרי שחלק ממרכיבי השירות לא יעבדו כהלכה.</li>
            <li>באחריות הסטודנט בלבד לוודא את תקינות התשובה והשימוש בה הוא לשיקול דעתו.</li>
            <li>הפרטים אותם מוסרים המורים והסטודנטים לאפטרקלאס הם ביוזמת המורים והסטודנטים בלבד.</li>
            <li>אפטרקלאס רשאית להשתמש בפרטי המשתמשים במידת הצורך עם חברת צד שלישי על מנת לשפר את חווית השימוש מהשירות, המוצר ולהציע שירותים, מבצעים והנחות נוספות למשתמשי השירות.</li>
            </ul>




<h4 class="text-center m-20">הצהרות המורה</h4>
<p>המורה מצהיר ו/או מתחייב כדלקמן:</p>
<ul style="list-style: outside;padding: 0 20px 0 0;">
    <li>ידוע לו כי הרישום הינו במסגרת מיזם למתן תשובות לשאלות סטודנט במגוון רחב של תחומים.</li>
    <li>ידוע לו כי כמות הסטודנטים שישתמשו בשירותי החברה הינה מעצם טיבם דינמיים.</li>
    <li>ונתונים לשינויים, ולכן אין כל התחייבות מצד החברה לתקופת היותו חלק ממאגר המורים ו/או לכמות הפניות שהוא יקבל במהלך התקופה.</li>
    <li>לא ניתנה לו כל התחייבות ו/או הבטחה כלשהי להעסקה על בסיס חודשי.</li>
    <li>ידוע לו שהחברה בתפקידה העיקרי הוא לקשר בין הסטודנט למורה מסויים על מנת שיענה בצורה מקצועית על שאלת הסטודנט בתמורה לתשלום אשר נגבה ע"י החברה.</li>
    <li>רישום המורה למאגר יבוצע עפ"י הוראות הסכם זה בלבד, שהוא הסכם אישי ומיוחד שקובע באופן בלעדי וייחודי את תנאי הרישום.</li>
    <li>אין בחתימה על הסכם זה בכדי לקשור יחסי עובד- מעביד בינו לבין החברה בכל הנוגע לתנאים המגיעים לעובד שכיר בהתאם לדיני העבודה ו/או כל חוק כגון: ביטוח לאומי, קרנות השתלמות, פנסיה  וכו'.</li>
    <li>כל המידע ו/או חומר הלימוד אשר יועבר דרך האפליקציה הינו רכוש AfterClass ובבעלותה.</li>
    <li>המורה יענה לשאלות הסטודנט ע"י הקלדת הפתרון או ע"י צילום הפתרון מתוך דף/מחברת/ספר ובכל מקרה התשובה צריכה להיות בכתב קריא וברור ומתאימה לרמת הידע של הסטודנט ככל שיתאפשר.</li>
    <li>לאחר מתן תשובה/פתרון לסטודנט - הסטונדט רשאי להגיב ולשאול שאלה נוספת. במקרה כזה המורה יקבל התראה נוספת ויתבקש לעזור לסטודנט. זמן המענה אמור להיות מינימאלי ובכל מקרה המורה ישתדל לתת תשובה והסבר מפורט ככל שאפשר לסטודנט על מנת למזער פניות חוזרות.</li>
    <li>במקרה של שאלה לא רלוונטית, פוגענית, לא קשרוה לנושא - ידווח המורה על כך לחברה.</li>
    <li>אם השאלה לא ברורה מספיק ונדרש מידע נוסף כדי לספק מענה הולם - רשאי המורה להגיב בשאלה לסטודנט.</li>
    <li>המורה ינהג בכבוד לסטודנטים ויבוא בגישה של עזרה.</li>
    <li>המורה לא ינהל שיחות אישיות עם הסטונדטים מכל סיבה שהיא ולא יחשוף פרטים אישיים אודותיו או לרבות שם מלא ומספר טלפון.</li>
</ul>

<h4 class="text-center m-20">העבודה והשכר</h4>
<ul style="list-style: outside;padding: 0 20px 0 0;">
    <li>תפקיד המורה לקבל את שאלת הסטודנט לענות לו בהתאם תשובה מקצועית ומדוייקת.</li>
    <li>שכרו של המורה יהיה לפי כמות השעות שעבד ושכרו לשעה יהיה עפי הנקבע עמו באופן אישי</li>
    <li>המורה יחזיק וינהול קובץ דו"ח שעות שישלח אליו ע"י צוות היזמים, כאשר המורה מתחייב למלא את דו"ח השעות אך ורק עפ"י הזמן הבלעדי אותו השקיע במתן מענה לשאלות הסטודנטים.</li>
    <li>לאחר אישור דו"ח השעות ע"י AfterClass, השכר ישולם אחת לחודש ב1 לכל חודש ולא יותר משבעה ימי עסקים לאחר יום זה.</li>
    <li>בכל מצב המיזם מחזיק באפשרות לפסול מדו"ח השעות זמנים אשר ישנו חשד שהם חרגו משמעותית מהזמן הסביר למתן פתרון לשאלות הסטודנטים.</li>
    <li>למען הסר ספק מובהר בזאת כי רישום המורה במאגר הינו על בסיס לא קבוע, והוא לא יהיה זכאי לקביעות מסוג כלשהי.</li>
    <li>המורה לא יהיה זכאי לקבל כל תמורה או תשלום נוסף מכל סוג שהוא מעבר לשכר הנ"ל, אלא אם פורט הדבר במפורש בהסכם זה.</li>
</ul>

<h4 class="text-center m-20">אמון אישי</h4>
<ul style="list-style: outside;padding: 0 20px 0 0;">
    <li>המורה מתחייב למלא את תפקידו במסירות ובנאמנות, להשתמש לצורך מילוי תפקידו בכל כישוריו, ידיעותיו וניסיונו, ולמלא אחר הוראות והנחיות החברה.</li>
    <li>המורה מתחייב להודיע לחברה מיד וללא כל דיחוי, על כל ענין או נושא לגביהם יש לו ענין אישי ו/או העלולים ליצור ניגוד אינטרסים עם תפקידו במיזם.</li>
    <li>החברה לא תישא בתשלומי מיסים או בתשלומי חובה אחרים, לרבות מס הכנסה, קרן השתלמות, ביטוח לאומי, תשלומי ביטוח בריאות, דמי נסיעות, החלים ו/או יחולו על המורה.</li>
</ul>

<h4 class="text-center m-20">תקופת ההעסקה</h4>
 <ul style="list-style: outside;padding: 0 20px 0 0;">
     <li>רישום המורה לפי הסכם זה הינה לפי דרישות החברה.</li>
     <li>כל אחד מהצדדים יהיה זכאי לסיים הסכם זה בכל עת ולפי שיקול דעתו המוחלט, בכפוף אך ורק למתן הודעה בכתב של לפחות 5 ימים.</li>
     <li>למרות האמור לעיל, החברה תהיה רשאית להביא הסכם זה לידי סיום לאלתר וללא הודעה מוקדמת, במקרים הבאים:</li>
     <li>בנסיבות של רשלנות חמורה מצד המורה , ו/או הפרת משמעת חמורה, ו/או התנהגות שאינה הולמת את תפקידו.</li>
     <li>אם המורה הורשע בפסק דין סופי בגין עבירה שיש עימה קלון.</li>
</ul>

<br>
<p>הסכם זה מבטל ובא במקום כל הסכם ו/או הסכמה קודמים בינו לבין החברה, בין בכתב ובין בע"פ.</p>



<br>
            בברכה,<br>
            AfterClass<br><br>
            <small>גרסה {{$root.appVersion}}</small>
        </div>

        <div class="content-section" ng-if="$root.uiLang==='en'">
            <h4 class="text-center m-20">{{"PAGES.ABOUT.TITLE"|translate}}</h4>

            <p>Your private tutor for homework and exams, on your smartphone!</p>

            <p>Stumbled into a tough math problem or any other issue in class, before an exam or while doing your homework?</p>

            <p>Easily send a question via the AfterClass app and receive a professional answer from our tutors, in no time!</p>

            <p>Our tutors have been chosen carefully so you will get a quality answer from a certified and professional tutor who has deep knowledge in the material.</p>

            <p>Our customer service team is always available for any questions or issues.</p>

            <p>Good luck to all students!</p>

            <br>AfterClass<br><br>
            <small>Version {{$root.appVersion}}</small>
        </div>
    </ion-content>
</ion-view>