<ion-view id="ask-question-page" view-title="Ask a question">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ng-click="backToHomeConfirm()"></i>
            <span class="back-btn dark" ng-click="backToHomeConfirm()">{{"BACK"|translate}}</span>
        </h1>
        <button ng-click="addPost()" class="button button-outline button-calm">&nbsp;{{'POST.SEND'|translate}}&nbsp;</button>
    </div>
    <ion-content class="has-header has-footer" has-bouncing="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label"><span class="ion-university calm"></span> {{'POST.CHOOSESUBJECT'|translate}}</span>
                <select ng-options="subject.key as subject.value for subject in subjects track by subject.key" ng-model="question.subject">
                    <option value="">{{'POST.CHOOSE..'|translate}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><span class="ion-android-textsms calm"></span> {{'POST.YOUTQUESTION'|translate}}</span>
                <textarea msd-elastic="\n" ng-model="question.body" placeholder="{{'POST.TYPEQUESTION'|translate}}" dir="auto"></textarea>
            </label>
        </div>
        <div id="aq-img-wrapper" class="fade" ng-if="question.image">
            <div class="item item-text-wrap">
                <img ng-src="{{question.image}}">
                <div class="aq-delete" ng-click="removeAttachment()"></div>
            </div>
        </div>
    </ion-content>
    <div class="bar footer-bar tabs tabs-icon-only tabs-dark tabs-color-light">
        <a ng-click="takePicture()" class="tab-item icon-camera"></a>
        <a ng-click="choosePicture()" class="tab-item icon-attachment"></a>
    </div>
</ion-view>