<ion-view id="contact-page" view-title="AfterClass - Contact">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="dark" ui-sref="home">{{::"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header has-footer padding-top" has-bouncing="false">
        <div class="content-section">
            <h3>{{"PAGES.CONTACT.TITLE"|translate}}</h3>
            <p>{{"PAGES.CONTACT.CONTENT"|translate}}</p>
            <a href="mailto:support@afterclass.co.il" class="button button-block button-outline button-balanced icon-right ion-ios-email">
                support@afterclass.co.il
            </a>
            <a href="tel:9889877" class="button button-block button-outline button-royal icon-right ion-android-call">
                03-9889877
            </a>
            <a onclick="window.open('http://www.facebook.com/AppAfterClass', '_blank', 'location=yes')" class="button button-block button-outline button-positive icon-right ion-social-facebook">
                עמוד הפייסבוק שלנו
            </a>
        </div>
    </ion-content>
</ion-view>