<ion-view id="contact-page" view-title="AfterClass - Contact">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="back-btn dark" ui-sref="home">{{::"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header has-footer padding-top" has-bouncing="false">
        <div class="content-section">
            <h3>{{"PAGES.COUPON.TITLE"|translate}}</h3>
            <form>
                <div class="list">
                    <label class="item item-input item-floating-label" style="padding:0 5px;border:0">
                        <span class="input-label">קוד קופון</span>
                        <input type="text" maxlength="6" style="padding:0" placeholder="הזן קוד קופון">
                    </label>
                </div>
                <button class="button button-block button-outline button-positive">ניצול</button>
            </form>
        </div>
    </ion-content>
</ion-view>