<ion-view id="get-credit-page" view-title="Get credit">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="back-btn dark" ui-sref="home">{{"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding" has-bouncing="false" dir="auto">
        <h4 class="text-center">
            {{"GET_CREDIT.INTRO"|translate}}
        </h4>
        <div class="padding clearfix">

            <div class="pricing-table clearfix wide calm-border">
                <div class="header">
                    <div class="ph-subject light">{{"GET_CREDIT.OPENING_PRICE"|translate}}</div>
                </div>

                <div class="row">
                    <div class="col">
                        <i class="icon ion-ios-infinite placeholder-icon" style="color: #27BE4B;"></i>
                        <br />
                        {{"GET_CREDIT.FEATURES.UNLIMITED"|translate}}
                    </div>
                    <div class="col">
                        <div class="col">
                            <i class="icon ion-android-apps placeholder-icon" style="color: #AB55E5;"></i>
                            <br />
                            {{"GET_CREDIT.FEATURES.MANY_SUBJECTS"|translate}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col">
                            <i class="icon ion-card placeholder-icon" style="color: #1EADF2;"></i>
                            <br />
                            {{"GET_CREDIT.FEATURES.CHEAP_PRICING"|translate}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="col">
                            <i class="icon ion-ios-people placeholder-icon" style="color: #FF9D69;"></i>
                            <br />
                            {{"GET_CREDIT.FEATURES.EXP_TUTORS"|translate}}
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <button class="button button-positive" ng-bind-html="config.price"></button>
                    <!-- 'GET_CREDIT.PRICE'|translate -->
                </div>
            </div>

            <div class="call-center">
                <h3>
                    <i class="icon ion-ios-cart placeholder-icon"></i>
                    {{"GET_CREDIT.CALL_CENTER"|translate}}
                </h3>
                <a href="tel:{{config.phone}}" class="button button-block button-outline button-balanced icon-right ion-android-call">
                    {{config.phone}}
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>