<ion-view id="home-page" view-title="Home">
    <div class="bar bar-header">
        <h1 class="title">
            <div style="margin: 0 60px 0 60px;"
                 ng-class="{'text-left': $root.uiLang==='he', 'text-right': $root.uiLang==='en'}"
                 ng-if="isDevUser">
                <strong>{{env}} - {{user.is_teacher ? 'teacher' : 'student'}}</strong>
            </div>
        </h1>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="popover.show($event)"></button>
    </div>
    <ion-tabs dir="auto" id="ac-tabs-inner" class="tabs-striped tabs-background-dark tabs-color-calm tabs-icon-left" question-tabs>
        <ion-tab title="{{'POST.UNANSWERED'|translate}}" icon-on="ion-ios-help" icon-off="ion-ios-help-outline" on-select="scrollToTop()">
            <ion-content on-scroll="gotScrolled()" has-bouncing="false">
                <ask-question-area></ask-question-area>
                <div ng-if="!posts && !posts_tutor_unanswered" class="spinner-wrapper"><ion-spinner></ion-spinner></div>

                <!-- Student -->
                <div ng-if="!$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts | filter:ifUserUnanswered:true).length===0" class="padding-left text-center">
                        {{'POST.STUDENT.NOUNANSWERED'|translate}}
                    </div>
                    <div ng-repeat="post in posts | filter:ifUserUnanswered:true | filter:{body: ''} | orderBy: '-create_date' track by post.$id" class="list card">
                        <question post="post"
                                  view-post="viewPost"
                                  delete-post="deletePost"
                                  post-reply="postReply"
                                  header-bg="calm-bg">
                        </question>
                    </div>
                </div>

                <!-- Teacher -->
                <div ng-if="$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts_tutor_unanswered | filter:ifPotentialTutor:true).length===0" class="padding-left text-center">
                        {{'POST.TEACHER.NOUNANSWERED'|translate}}
                    </div>
                    <div ng-repeat="post in posts_tutor_unanswered | filter:ifPotentialTutor:true | filter:{body: ''} | orderBy: '-create_date' track by post.$id" class="list card">
                        <question post="post"
                                  toggle-acceptance="toggleAcceptance"
                                  view-post="viewPost"
                                  delete-post="deletePost"
                                  post-reply="postReply"
                                  header-bg="calm-bg">
                        </question>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="{{'POST.ANSWERED'|translate}}" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline" on-select="scrollToTop()">
            <ion-content on-scroll="gotScrolled()" has-bouncing="false">
                <ask-question-area></ask-question-area>
                <div ng-if="!posts && !posts_tutor_answered" class="spinner-wrapper"><ion-spinner></ion-spinner></div>

                <!-- Student -->
                <div ng-if="!$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts | filter: {status: 'answered'}:true).length===0" class="padding-left text-center">
                        {{'POST.STUDENT.NOANSWERED'|translate}}
                    </div>
                    <div ng-repeat="post in posts | filter: {status: 'answered'}:true | filter:{body: ''} | orderBy: '-create_date' track by post.$id" class="list card">
                        <question post="post"
                                  view-post="viewPost"
                                  delete-post="deletePost"
                                  post-reply="postReply"
                                  header-bg="balanced-bg">
                        </question>
                    </div>
                </div>

                <!-- Teacher -->
                <div ng-if="$root.user.is_teacher" class="posts content">
                    <div ng-if="posts_tutor_answered.length===0" class="padding-left text-center">
                        {{'POST.TEACHER.NOANSWERED'|translate}}
                    </div>
                    <div ng-repeat="post in posts_tutor_answered | filter:{body: ''} | orderBy: '-create_date' track by post.$id" class="list card">
                        <question post="post"
                                  toggle-acceptance="toggleAcceptance"
                                  view-post="viewPost"
                                  delete-post="deletePost"
                                  post-reply="postReply"
                                  header-bg="balanced-bg">
                        </question>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>