<ion-view id="home-page" view-title="Home">
    <div class="bar bar-header">
        <h1 class="title"></h1>
        <button class="button button-icon icon ion-android-more-horizontal" ng-click="popover.show($event)"></button>
    </div>
    <ion-tabs id="ac-tabs-inner" class="tabs-striped tabs-background-dark tabs-color-calm" question-tabs>
        <ion-tab title="Unanswered" on-select="scrollToTop()">
            <ion-content on-scroll="gotScrolled()">
                <ask-question-area></ask-question-area>
                <div ng-if="!posts && !posts_tutor_unanswered" class="spinner-wrapper"><ion-spinner></ion-spinner></div>

                <!-- Student -->
                <div ng-if="!$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts | filter:ifUserUnanswered:true).length===0" class="padding-left text-center">
                        <strong>You have no unanswered questions</strong>
                    </div>
                    <div ng-repeat="post in posts | filter:ifUserUnanswered:true | orderBy: '-timestamp'" class="list card">
                        <question post="post" view-post="viewPost" delete-post="deletePost" post-reply="postReply" header-bg="calm-bg"></question>
                    </div>
                </div>

                <!-- Teacher -->
                <div ng-if="$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts_tutor_unanswered | filter:ifPotentialTutor:true).length===0" class="padding-left text-center">
                        <strong>We have no questions for you currently<br>Please check again later</strong>
                    </div>
                    <div ng-repeat="post in posts_tutor_unanswered | filter:ifPotentialTutor:true | orderBy: '-timestamp'" class="list card">
                        <question post="post" view-post="viewPost" delete-post="deletePost" post-reply="postReply" header-bg="calm-bg"></question>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Answered" on-select="scrollToTop()">
            <ion-content on-scroll="gotScrolled()">
                <ask-question-area></ask-question-area>
                <div ng-if="!posts && !posts_tutor_answered" class="spinner-wrapper"><ion-spinner class="spinner-calm"></ion-spinner></div>

                <!-- Student -->
                <div ng-if="!$root.user.is_teacher" class="posts content">
                    <div ng-if="(posts | filter: {status: 'answered'}:true).length===0" class="padding-left text-center">
                        <strong>No questions have been answered yet</strong>
                    </div>
                    <div ng-repeat="post in posts | filter: {status: 'answered'}:true | orderBy: '-timestamp'" class="list card">
                        <question post="post" view-post="viewPost" delete-post="deletePost" post-reply="postReply" header-bg="balanced-bg"></question>
                    </div>
                </div>

                <!-- Teacher -->
                <div ng-if="$root.user.is_teacher" class="posts content">
                    <div ng-if="posts_tutor_answered.length===0" class="padding-left text-center">
                        <strong>You haven't answered any questions yet</strong>
                    </div>
                    <div ng-repeat="post in posts_tutor_answered | orderBy: '-timestamp'" class="list card">
                        <question post="post" view-post="viewPost" delete-post="deletePost" post-reply="postReply" header-bg="balanced-bg"></question>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>