<ion-view id="login-page" view-title="Login">
  <ion-content scroll="false" has-bouncing="false">
      <div class="content-section fade" ng-if="sessionChecked">
          <br>
          <h3 class="text-center m-20">{{::"PAGES.LOGIN.TITLE"|translate}}</h3>
          <br>
          <a class="button button-block button-outline button-positive icon-right ion-social-facebook" style="margin-right:3px"
             ng-click="loginWithFacebook()">
              {{::"USING_FACEBOOK"|translate}}
          </a>
          <a class="m-20 button button-block button-outline button-positive icon-right ion-person"
             ng-click="goToLoginWithEmail()">
              {{::"USING_EMAIL_PW"|translate}}
          </a>
      </div>
  </ion-content>
</ion-view>