<div>
    <div ng-click="viewPost(post.$id)">
        <div class="post-header item {{ header_bg }} light">
            <div class="ph-subject">{{ post.subject }}</div>
            <div class="ph-date">{{ post.ask_date }}</div>
        </div>
        <div class="post-question item item-light item-body">{{ post.body }}</div>
        <!-- replies -->
        <div ng-repeat="reply in post.replies | orderObjectBy:'timestamp' | limitTo: -2">
            <div class="item item-avatar">
                <img ng-src="http://graph.facebook.com/{{$root.user.id}}/picture?type=square" />
                <div class="post-comment item item-body">
                    <small class="date">{{ reply.reply_date }}</small>
                    {{ reply.body }}
                </div>
            </div>
        </div>
    </div>
    <div class="button-bar">
        <button ng-if="post.status==='unanswered'" class="button ion-thumbsup button-positive" ng-click="postAccept(post)">&nbsp; Accept</button>
        <button ng-if="post.status==='answered'" class="button ion-thumbsdown button-positive" ng-click="postDecline(post)">&nbsp; Decline</button>
        <button class="button ion-chatbox button-positive" ng-click="viewPost(post.$id)">&nbsp; Reply</button>
    </div>
</div>