<ion-view id="view-question-page" view-title="Post view">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i ng-click="backToHome()" class="icon ion-chevron-left"></i>
            <span ng-click="backToHome()">{{ post.subject }}</span>
            <span class="date">{{ post.timestamp | moment }}</span>
        </h1>
    </div>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div class="post-question">
            <div dir="auto" ng-bind-html="post.body | nl2br"></div>
        </div>
        <img class="post-img"
             ng-if="post.img_id"
             ng-src="http://res.cloudinary.com/daayssulc/image/upload/c_fill,h_250,w_550/{{post.img_id}}.jpg"
             ng-click="viewFullImage(post.img_id)">
        <div ng-repeat="reply in post.replies" class="post-comment-main">
            <div class="item item-avatar">
                <img ng-src="http://graph.facebook.com/{{reply.user}}/picture?type=square" />
                {{reply.name}}<br>
                <small class="date">{{reply.timestamp | moment}}</small>
            </div>
            <div class="post-comment item-body">
                <p dir="auto" ng-bind-html="reply.body | nl2br"></p>
                <img class="post-img" ng-if="reply.img_id" ng-click="viewFullImage(reply.img_id)"
                ng-src="http://res.cloudinary.com/daayssulc/image/upload/c_fill,h_200,w_550/{{reply.img_id}}.jpg">
            </div>
        </div>
        <div class="padding text-center" ng-if="!post.replies">
            <strong>{{::'POST.NOREPLIES'|translate}}</strong>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <a class="icon-camera" ng-click="addImage()" ng-hide="add_img_preview"></a>
        <img src="" class="img-preview" ng-click="addImage()" ng-show="add_img_preview">
        <textarea msd-elastic="\n" ng-model="replyBody" placeholder="{{::'POST.REPLY..'|translate}}"></textarea>
        <div class="buttons pull-right">
            <button class="button button-outline button-calm" ng-click="addReply()">{{::'POST.SEND'|translate}}</button>
        </div>
    </ion-footer-bar>
</ion-view>