<ion-view id="view-question-page" view-title="Post view">
    <div class="bar bar-header bar-positive">
        <h1 class="title no-logo">
            <i ng-click="backToHome()" class="icon ion-chevron-left"></i>
            <span ng-click="backToHome()">{{ post.subject }}</span>
            <span class="date">{{ post.ask_date }}</span>
        </h1>
    </div>
    <ion-content class="has-header">
        <div class="padding post-question">
            {{ post.body }}
        </div>
        <div class="list list-simple">
            <div class="item" href="#" ng-repeat="reply in post.replies" ng-class="{'item-thumbnail-left': reply.img}">
                <!--<img src="cover.jpg">-->
                <div><small class="date">{{reply.reply_date}}</small>{{ reply.body }}</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <a ng-click="takePicture()" class="icon-camera"></a>
        <input ng-model="replyBody" type="text" placeholder="Reply...">
        <div class="buttons pull-right">
            <button class="button button-outline button-calm" ng-click="addReply()">Send</button>
        </div>
    </ion-footer-bar>
</ion-view>