<ion-view id="view-question-page" view-title="Post view">
    <div class="bar bar-header bar-positive">
        <h1 class="title no-logo">
            <i ng-click="backToHome()" class="icon ion-chevron-left"></i>
            <span ng-click="backToHome()">Post view</span>
        </h1>
    </div>
    <ion-content class="has-header">
        <p class="padding">
            Full post view will be hereaa
        </p>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <a ng-click="takePicture()" class="icon-camera"></a>
        <input ng-model="replyBody" type="text" placeholder="Reply...">
        <div class="buttons pull-right">
            <button class="button button-outline button-calm" ng-click="addReply()">Send</button>
        </div>
    </ion-footer-bar>
</ion-view>