@import "misc/colors";
@import "misc/mixins";

#home-page {
  .bar-header {
    background: transparent;
    border: 0;
    transition: 0.5s background;
    .button {
      color: #fff;
    }
    &.scrolled {
      background: $header_blue;
    }
  }
  #homeMessageBox {
    margin-top: 50px;
  }
}
// iOS student & teacher view (fix bottom scrolling cut)
body.platform-ios {
  #home-page {
    .scroll {
      padding: 0 0 30px 0;
    }
  }
}

// Questions tabs
#ac-tabs-inner {
  .tabs {
    top: 210px;
  }
  i.icon {
    margin: -4px 7px 0 7px;
  }
  .tab-title {
    font-size: 14px;
  }
}
.tab-item {
  max-width: inherit;
  font-size: 16px;
}

// Ask a question area
.ask-q-area {
  background: url(../img/bg3.jpg) center center;
  background-size: 200%;
  margin: 0 0 0 0;
  padding: 70px 0 0 0;
  min-height: 259px;
  .aqa-btn {
    //box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.2);
    box-shadow: none;
    background: $pale_blue;
    color: $light_gray;
    border: 0;
    border-radius: 2px;
    height: 70px;
    width: 85%;
    line-height: 68px;
    margin: 0 auto 14px auto;
    padding: 0;
    cursor: pointer;
    .ab-icon {
      float: left;
      background: darken($pale_blue, 4%) url(../img/question-icon.png) center center no-repeat;
      width: 25%;
      height: 100%;
      display: inline-block;
      border-bottom: 2px solid lighten($pale_blue2, 2%);
      background-size: 42% 45%;
      &.ab-icon-currency {
        background-image: url(../img/shekel.png);
        background-size: 30px 28px;
      }
    }
    .ab-text {
      float: left;
      height: 100%;
      width: 75%;
      display: inline-block;
      border-bottom: 2px solid lighten($pale_blue2, 5%);
      font-size: 25px;
      text-align: center;
    }
    &.activated {
      background: darken($pale_blue, 5%);
      .ab-icon {
        background-color: darken($pale_blue, 10%);
      }
    }
  }
  > div {
    font-size: 110%;
    strong {
      color: $white;
      font-style: normal;
      font-size: 140%;
    }
  }
}

// Cards/Posts
.posts {
  top: 15px;
}
body.platform-ios {
	.posts {
	  top: 35px;
	}	
}

.card {
  margin: 15px;
  padding: 0;
  //box-shadow: 0 2px 7px #CCC;
  box-shadow: none;
  border: 1px solid #ddd;
  min-height: 100px;
  &:first-child {
    margin-top: 0;
  }
  &.list:last-child {
    margin-bottom: 16px;
  }
  .post-gradient {
    //@include VerticalGradient;
    .post-question {
      background: transparent;
    }
  }
  .post-header {
    background: transparent !important;
    padding: 10px 15px;
    .ph-date {
      font-size: 14px;
      font-weight: 100;
      float: right;
      color: $gray2;
      position: relative;
      top: -3px;
    }
    .ph-delete {
      background: url(../img/close.png) no-repeat;
      width: 20px;
      height: 20px;
      float: right;
      cursor: pointer;
      position: relative;
      top: -2px;
      right: 0;
      margin: 0 0 0 7px;
      opacity: 0.9;
      background-size: 100%;
      &:active {
        opacity: 1;
      }
    }
  }
  //
  .item {
    border: 0;
    font-weight: 300;
  }
  .item-avatar + .item-body {
    padding-top: 0;
  }
  .button-bar {
    padding: 0;
    button.button {
      border-radius: 0 0 2px 2px;
      background: $white;
      color: $blue;
      border: 0;
      font-size: 24px;
      padding: 0 0 7px 0;
      line-height: 61px;
      font-weight: 300;
      &::before {
        content: " ";
        background: url(../img/speech-bubble.png) no-repeat;
        width: 22px;
        height: 22px;
        display: inline-block;
        top: 3px;
        position: relative;
        background-size: 100%;
      }
      &.activated {
        color: darken($blue, 10%);
        box-shadow: none;
        border: 0;
      }
    }
    button.button-ok {
      color: $green;
      &::before {
        content: " ";
        background: url(../img/speech-bubble-ok.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        top: 10px;
        position: relative;
        background-size: 100%;
      }
      &.activated {
        color: darken($green, 10%);
        box-shadow: none;
        border: 0;
      }
    }
    button.button-notok {
      color: $red;
      &::before {
        content: " ";
        background: url(../img/speech-bubble-notok.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        top: 10px;
        position: relative;
        background-size: 100%;
      }
      &.activated {
        color: darken($red, 10%);
        box-shadow: none;
        border: 0;
      }
    }
  }
  .post-main-img {
    margin: 10px 15px 15px 0;
    float: right;
    max-width: 50px;
    max-height: 50px;
    border-radius: 3px;
  }
}
.ph-subject {
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0 0 3px 0;
  position: absolute;
  top: 1px;
  left: 0;
  @include Ellipsis(50%);
}

body.platform-ios {
  .card {
    .post-header {
      .ph-date {
        font-size: 12px;
      }
    }
  }
}