@import "misc/colors";
@import "misc/mixins";

#get-credit-page {

  .call-center {
    margin-top: 15px;
    text-align: center;
    h3, i {
      color: #54B5E2;
    }
    a {
      font-size: 20px;
    }
  }

  .pricing-table {

    position: relative;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    color: #FFF;
    text-align: center;
    width: 90%;
    margin: 15px auto 0px auto;
    &.wide {
      width: 100%;
      .header {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .row {
      color: black;
      i {
        font-size: 40px;
        color: $blue;
      }
    }

    .header {
      float: left;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding-top: 12px;
      padding-bottom: 12px;
      .ph-subject {
        padding: 10px 15px;
        background-color: #54b5e2;
        font-style: italic;
      }
      h4 {
        margin: 0;
      }
    }
    .body {
      background-color: #fff;
      float: left;
      width: 100%;
    }
    .body .price {
      background-color: #3b9bdb;
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .body .price span {
      background-color: #2D87C4;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      display: inline-block;
      font-size: 1.5em;
      padding: 0 15px;
    }
    .body .features {
      color: #FFF;
      float: left;
      width: 100%;
      background-color: #84C3ED;
      font-size: 20px;
    }
    .body .features li {
      height: 50px;
      line-height: 50px;
    }
    .body .features .even {
      background-color: #fff;
    }
    .body .features .odd {
      background-color: #efefef;
    }
    .footer {
      float: left;
      width: 100%;
    }
    .footer button {
      display: block;
      width: 100%;
      font-weight: bold;
      line-height: 45px;
      border: 0;
      border-radius: 0;
    }
  }

}