<div ng-if="!$root.user.is_teacher" class="posts content">

    <div ng-if="!posts" class="spinner-wrapper">
        <ion-spinner></ion-spinner>
    </div>

    <!-- If no unanswered questions for student -->
    <div ng-if="(posts | filter:ifUserUnanswered:true).length===0" class="padding-left text-center">
        {{'POST.STUDENT.NOUNANSWERED'|translate}}
    </div>

    <!-- Show unanswered questions -->
    <div ng-repeat="post in posts | filter:ifUserUnanswered:true | filter:{body: ''} | orderBy: '-create_date' track by post.$id" class="list card">
        <question post="post"
                  view-post="viewPost"
                  delete-post="deletePost"
                  post-reply="postReply"
                  header-bg="calm-bg">
        </question>
    </div>
</div>