<ion-view view-title="Tutor details step 1">
    <div class="bar bar-header">
        <h1 class="title no-logo" ng-if="$state.params.isEdit=='0'">
            <i ui-sref="userDetails_chooseType" class="icon ion-chevron-left calm"></i>
            <span ui-sref="userDetails_chooseType">{{"BACK"|translate}}</span>
        </h1>
        <h1 class="title no-logo" ng-if="$state.params.isEdit=='1'">
            <i class="icon ion-chevron-left calm" ui-sref="home"></i>
            <span class="back-btn dark" ui-sref="home">{{"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding" has-bouncing="false">
        <h4 class="m-15 text-center">{{'USER_DETAILS.TUTOR.STEP1_TITLE'|translate}}</h4>
        <form>
            <ion-checkbox ng-model="selInstitutes[name]" ng-repeat="(name, institute) in institutes">{{name}}</ion-checkbox>
        </form>
    </ion-content>
    <ion-footer-bar class="bf-big">
        <button class="button button-block button-outline button-calm" ng-click="submitTutorStep1()" ng-disabled="isChecked(selInstitutes)">
            {{'NEXT'|translate}}
        </button>
    </ion-footer-bar>
</ion-view>