<select id="popup-institute" ng-model="hash.selInstitute" ng-change="selectInstitute()" ng-options="key for (key, value) in institutes">
    <option value="">{{::'CHOOSEINSTITUE'|translate}}</option>
</select>
<select id="popup-degree" ng-model="hash.selDegree" ng-show="showDegrees" ng-options="value.name for (key, value) in degrees">
    <option value="">{{::'CHOOSEDEGREE'|translate}}</option>
</select>
<span id="pi-err" style="color:red;display:none">{{::'CHOOSE_INST_AND_DEGREE'|translate}}</span>