<ion-popover-view>
    <ion-content has-bouncing="false">
        <div class="list">
            <span class="item">
                {{'HI'|translate}}, {{user.displayName}}
            </span>
            <a class="item" ui-sref="aboutPage" ng-click="hidePopover()">
                {{'PAGES.ABOUT.MENU'|translate}}
            </a>
            <a class="item" ui-sref="contactPage" ng-click="hidePopover()">
                {{'PAGES.CONTACT.MENU'|translate}}
            </a>
            <a class="item" ng-click="logout()">
                {{'LOGOUT'|translate}}
            </a>
        </div>
    </ion-content>
</ion-popover-view>