<ion-view view-title="Choose user type">
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <span>{{'USER_DETAILS.CHOOSE_TITLE'|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding">
        <button class="button button-block button-outline button-calm" ng-click="student()">
            {{'USER_DETAILS.IS_STUDENT'|translate}}
        </button>
        <div class="text-center">{{'OR'|translate}}</div>
        <button class="button button-block button-outline button-calm" ng-click="teacher()">
            {{'USER_DETAILS.IS_TEACHER'|translate}}
        </button>
    </ion-content>
</ion-view>