<ion-view>
    <div class="bar bar-header">
        <h1 class="title no-logo">
            <i ui-sref="userWizard_teacherStep1" class="icon ion-chevron-left calm"></i>
            <span ui-sref="userWizard_teacherStep1({isEdit: $state.params.isEdit})">{{"BACK"|translate}}</span>
        </h1>
    </div>
    <ion-content class="has-header padding" has-bouncing="false">
        <h4 class="m-15 text-center">{{'USER_DETAILS.TEACHER.STEP2_TITLE'|translate}}</h4>
        <form>
            <ion-checkbox ng-model="choice.isAllBtnSelected" ng-click="selectAll()">{{'SELECT_ALL'|translate}}</ion-checkbox>
            <div class="padding-bottom" ng-repeat="(name, classSubjects) in subjects">
                <h5 class="m-15 text-center">{{"GRADES." + name|translate}}</h5>
                <ion-checkbox ng-model="selSubjects[name + '|||' + subject.name]" ng-repeat="subject in classSubjects">{{"SUBJECTS." + subject.name|translate}}</ion-checkbox>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="bf-big">
        <button class="button button-block button-calm" ng-click="submitTeacherStep2Last()" ng-disabled="!canSubmit()">
            {{'SAVE'|translate}}
        </button>
    </ion-footer-bar>
</ion-view>