@import "misc/variables.less";
@import "misc/mixins.less";

body.is-teacher {
  .ask-q-area {
    display: none;
  }
  .posts {
    top: 117px;
  }
}

// Questions tabs
#ac-tabs-inner {

}
.tab-item {
  max-width: inherit;
}

// Ask a question area
.ask-q-area {
  .TextShadow;
  margin: 0 0 48px 0;
  padding: 80px 0 20px 0;
  .aqa-btn {
    background: @pale_blue;
    color: @white;
    border: 0;
    border-radius: 2px;
    height: 70px;
    width: 90%;
    line-height: 68px;
    margin: 0 auto 20px auto;
    padding: 0;
    cursor: pointer;
    .ab-icon {
      float: left;
      background: @green_desaturated url(../img/question-icon.png) center center no-repeat;
      width: 25%;
      height: 100%;
      display: inline-block;
      border-bottom: 3px solid darken(@green_desaturated, 25%);
      background-size: 45px 43px;
    }
    .ab-text {
      float: left;
      height: 100%;
      width: 75%;
      display: inline-block;
      border-bottom: 3px solid lighten(@pale_blue2, 5%);
      font-size: 25px;
      text-align: center;
    }
    &.activated {
      background: darken(@pale_blue, 5%);
      .ab-icon {
        background-color: darken(@green_desaturated, 5%);
      }
    }
  }
}

// Cards/Posts
.posts {
  top: 25px;
}
.card {
  margin: 20px 20px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
  &.list:last-child {
    margin-bottom: 16px;
  }
  .post-header {
    .ph-subject {
      font-size: 24px;
      display: inline-block;
    }
    .ph-date {
      font-size: 20px;
      font-weight: 100;
      font-style: italic;
      float: right;
    }
  }
  .post-comment {
    padding: 0;
    overflow: visible;
    p {
      color: @gray;
      font-size: 18px;
      line-height: 24px;
      &:first-child {
        margin-top: 0;
      }
    }
    img {
      margin: 15px 0 0 0;
      border-radius: 3px;
      border: 1px solid @gray;
    }
  }
  //
  .item {
    border: 0;
  }
  .item-avatar + .item-body {
    padding-top: 0;
  }
  .button-bar {
    padding: 0;
    button.button {
      border-radius: 0 0 2px 2px;
    }
  }
  .img-wrapper {
    line-height: 0;
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}