@import "misc/variables.less";
@import "misc/mixins.less";

#ask-question-page {
  .body-wrapper {
    border-top: 1px solid @light_gray;
    border-bottom: 0;
  }
  select {
    border: 0;
    margin: 12px;
    background: transparent;
    -webkit-appearance: none;
  }
  textarea {
    resize: none;
  }
  select, textarea {
    font-size: 15px;
    color: #aaa;
  }
  #aq-img {
    margin: 10px;
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }
  .tabs-icon-only {
    border-top: 0;
    .icon-camera {
      background: url(../img/take-picture-icon.png) center 9px no-repeat;
      background-size: 36px 24px;
      border-right: 1px solid #666;
    }
    .icon-attachment {
      background: url(../img/documnet-attachment.png) center 8px no-repeat;
      background-size: 21px 26px;
    }
    .icon-camera, .icon-attachment {
      &:active {
        background-color: @gray;
      }
    }
  }
}