.TextShadow {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.RadialGradient {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}
.VerticalGradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(26%, #fbfbfb), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
}
#home-page .bar-header {
  background: transparent;
  border: 0;
}
#home-page .bar-header .button {
  color: #fff;
}
#home-page .bar-header.scrolled {
  background: #2263a5;
}
body.is-teacher #home-page .bar-header {
  background: #2263a5;
}
body.is-teacher .posts {
  top: 117px;
}
body:not(.is-teacher) .ask-q-area {
  display: block;
}
.tab-item {
  max-width: inherit;
  font-weight: bold;
}
.ask-q-area {
  display: none;
  background: url(../img/bg3.jpg) center center;
  background-size: 200%;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 48px 0;
  padding: 80px 0 25px 0;
}
.ask-q-area .aqa-btn {
  box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.2);
  background: #374e5e;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  height: 70px;
  width: 85%;
  line-height: 68px;
  margin: 0 auto 20px auto;
  padding: 0;
  cursor: pointer;
}
.ask-q-area .aqa-btn .ab-icon {
  float: left;
  background: #75d574 url(../img/question-icon.png) center center no-repeat;
  width: 25%;
  height: 100%;
  display: inline-block;
  border-bottom: 2px solid #309b2e;
  background-size: 40px 38px;
}
.ask-q-area .aqa-btn .ab-text {
  float: left;
  height: 100%;
  width: 75%;
  display: inline-block;
  border-bottom: 2px solid #313e49;
  font-size: 25px;
  text-align: center;
}
.ask-q-area .aqa-btn.activated {
  background: #2e414e;
}
.ask-q-area .aqa-btn.activated .ab-icon {
  background-color: #62d060;
}
.posts {
  top: 25px;
}
.card {
  margin: 20px 20px;
  padding: 0;
  box-shadow: 0 2px 7px #CCC;
}
.card:first-child {
  margin-top: 0;
}
.card.list:last-child {
  margin-bottom: 16px;
}
.card .post-gradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(26%, #fbfbfb), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
}
.card .post-gradient .post-question {
  background: transparent;
}
.card .post-header {
  background: transparent !important;
}
.card .post-header .ph-subject {
  font-size: 16px;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 0 0 5px 0;
  position: absolute;
  top: 0;
  left: 0;
}
.card .post-header .ph-date {
  font-size: 14px;
  font-weight: 100;
  float: right;
  color: #888888;
  position: relative;
  top: -3px;
}
.card .post-header .ph-delete {
  background: url(../img/close.png) no-repeat;
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  position: relative;
  top: -5px;
  right: -5px;
  margin: 0 0 0 5px;
  opacity: 0.9;
  background-size: 100%;
}
.card .post-header .ph-delete:active {
  opacity: 1;
}
.card .item {
  border: 0;
  font-weight: 300;
}
.card .item-avatar + .item-body {
  padding-top: 0;
}
.card .button-bar {
  padding: 0;
}
.card .button-bar button.button {
  border-radius: 0 0 2px 2px;
  background: #ffffff;
  color: #4d9abf;
  border: 0;
  font-size: 24px;
  padding: 0 0 7px 0;
  line-height: 61px;
  font-weight: 300;
}
.card .button-bar button.button::before {
  content: " ";
  background: url(../img/speech-bubble.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 10px;
  position: relative;
  background-size: 100%;
}
.card .button-bar button.button.activated {
  color: #397ea0;
  box-shadow: none;
  border: 0;
}
.card .button-bar button.button-ok {
  color: #68e366;
}
.card .button-bar button.button-ok::before {
  content: " ";
  background: url(../img/speech-bubble-ok.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 10px;
  position: relative;
  background-size: 100%;
}
.card .button-bar button.button-ok.activated {
  color: #3ddb3b;
  box-shadow: none;
  border: 0;
}
.card .button-bar button.button-notok {
  color: #ff3b30;
}
.card .button-bar button.button-notok::before {
  content: " ";
  background: url(../img/speech-bubble-notok.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 10px;
  position: relative;
  background-size: 100%;
}
.card .button-bar button.button-notok.activated {
  color: #fc0d00;
  box-shadow: none;
  border: 0;
}
.card .img-wrapper {
  background-color: #dbdbdb;
  line-height: 0;
  margin: 1px 0px 1px 0px;
}
