@import "misc/colors.less";
@import "misc/mixins.less";

#ask-question-page {
  .bar-header {
    border: 0;
  }
  label {
    font-weight: 300;
    padding: 6px 16px 5px 16px;
  }
  .item-stacked-label {
    border: 0;
    margin: 0 0 5px 0;
  }
  .body-wrapper {
    border-top: 1px solid @light_gray;
    border-bottom: 0;
  }
  select {
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
    background: transparent;
    -webkit-appearance: none;
    position: relative;
    left: -4px;
  }
  textarea {
    resize: none;
  }
  #aq-img {
    margin: 10px;
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }
  .tabs-icon-only {
    border-top: 0;
    .icon-camera {
      background: url(../img/take-picture-icon.png) center 9px no-repeat;
      background-size: 36px 24px;
      border-right: 1px solid #666;
    }
    .icon-attachment {
      background: url(../img/documnet-attachment.png) center 8px no-repeat;
      background-size: 21px 26px;
    }
    .icon-camera, .icon-attachment {
      &:active {
        background-color: @dark_gray;
      }
    }
  }
}