.TextShadow {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.RadialGradient {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}
.VerticalGradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(26%, #fbfbfb), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 26%, #e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
}
#ask-question-page .bar-header {
  border: 0;
}
#ask-question-page label {
  font-weight: 300;
  padding: 6px 16px 5px 16px;
}
#ask-question-page .item-stacked-label {
  border: 0;
  margin: 0 0 5px 0;
}
#ask-question-page .body-wrapper {
  border-top: 1px solid #dddddd;
  border-bottom: 0;
}
#ask-question-page select {
  width: 100%;
  border: 0;
  margin: 0;
  display: block;
  background: transparent;
  -webkit-appearance: none;
  position: relative;
  left: -4px;
  padding: 15px 0;
}
#ask-question-page textarea {
  resize: none;
}
#ask-question-page .aq-delete {
  background: url(../img/close.png) no-repeat;
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: 10px;
  margin: 0 0 0 5px;
  opacity: 0.9;
  background-size: 100%;
}
#ask-question-page .aq-delete:active {
  opacity: 1;
}
#ask-question-page #aq-img-wrapper .item-divider {
  background-color: #fff;
}
#ask-question-page #aq-img-wrapper .item-text-wrap {
  border: 0;
}
#ask-question-page #aq-img-wrapper #aq-img img {
  max-width: 100%;
  border-radius: 3px;
}
#ask-question-page .tabs-icon-only {
  border-top: 0;
}
#ask-question-page .tabs-icon-only .icon-camera {
  background: url(../img/take-picture-icon.png) center 9px no-repeat;
  background-size: 36px 24px;
  border-right: 1px solid #666;
}
#ask-question-page .tabs-icon-only .icon-attachment {
  background: url(../img/documnet-attachment.png) center 8px no-repeat;
  background-size: 21px 26px;
}
#ask-question-page .tabs-icon-only .icon-camera:active,
#ask-question-page .tabs-icon-only .icon-attachment:active {
  background-color: #333333;
}
body.platform-ios #ask-question-page select {
  padding: 15px 5px;
}
