@import "misc/variables.less";
@import "misc/mixins.less";
@import "misc/ionic-overrides.less";

// General
* {
  font-family: "Open Sans", sans-serif !important;
}

.view-container {
  .RadialGradient;
}
.view-container .pane {
  background-color: transparent !important;
}

.popover {
  height: 112px;
}

textarea {
  background-color: transparent !important;
}

select, textarea, input[type="text"] {
  font-size: 15px;
  color: @light_gray2;
}

.post-question {
  color: @gray;
  font-size: 22px;
  line-height: 29px;
  border-bottom: 1px solid @light_gray3 !important;
  margin: 0 0 1px 0;
}

.date {
  float: right;
}

// Header
.bar-header {
  h1.title {
    text-align: left;
    .icon {
      margin: 0 7px 0 0;
      padding: 0 5px;
    }
  }
  h1.title:not(.no-logo) {
    background: url(../img/logo.png) 0 center no-repeat;
    background-size: 131px 21px;
  }
}

// List
.list.list-simple {
  .item {
    background: transparent;
    border-color: @light_gray3;
    white-space: normal;
    &.item:last-child {
      border: 0;
    }
  }
}

@import "page-home.less";
@import "page-ask-question.less";
@import "page-post-view.less";